﻿@*

*@
@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Areas/CustomerUser/Views/Shared/_Customer.cshtml";
}
<div class="box-content">
    <div class="banner-page">
        <div class="banner-page__image"><img src="~/images/anhcat/LIENHE.jpg" alt="đối tác"></div>
        <div class="banner-page__title">
            <img src="~/images/anhcat/logo3.png" alt="logo">
            <p>LIÊN HỆ</p>
        </div>
    </div>
    <div class="wrapper-box box-contact">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail h-100">
                    <img src="~/images/anhcat/sp2.jpg" alt="anh lien he" class="h-100 w-100">
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <p>liên hệ với chúng tôi</p>
                    <form class="form" id="form">
                        <div class="form-contact">
                            <input type="text" id="Title" name="Title" placeholder="Họ tên">
                        </div>
                        <div class="form-contact">
                            <input type="text" id="Email" name="Email" placeholder="Email">
                        </div>
                        <div class="form-contact">
                            <input type="text" id="Phone" name="Phone" placeholder="Số điện thoại">
                        </div>
                        <div class="form-contact">
                            <input type="text" id="Content" name="Content" placeholder="Nội dung">
                        </div>
                        <button type="button" class="box-contact__btn" id="btnSubmit">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            const data = {
                Title: $('#Title').val(),
                Email: $('#Email').val(),
                Phone: $('#Phone').val(),
                Content: $('#Content').val()
            };

            $.ajax({
                url: '/Contact/Submit',
                type: 'POST',
                data: data,
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        $('#form')[0].reset();
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Đã xảy ra lỗi khi gửi dữ liệu!');
                }
            });
        });
    });
</script>