@{
    ViewData["Title"] = "Phương thức thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<p class="text-center fs-3 text-danger" style="margin-top:10rem;">
    ĐẶT HÀNG THÀNH CÔNG
    <br />
    XIN CẢM ƠN QUÝ KHÁCH
</p>
</div>