@{
    ViewData["Title"] = "Phương thức thanh toán";
    Layout = "~/Areas/CustomerUser/Views/Shared/_Customer.cshtml";
}
<div class="container" style="margin-top:10rem">
<p class="text-center fs-3 text-danger">
    ĐẶT HÀNG THÀNH CÔNG
    <br />
    XIN CẢM ƠN QUÝ KHÁCH
</p>
</div>